/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif!important;
    overflow: hidden;
    height: 100%;
}

h3{
    padding-left: 15px;
    font-size: 2em!important;
    font-weight: 700!important;
    }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* First and Second Video */

.video1{
    position: absolute;
    z-index: 5;
    margin-left: 45px;
}

.video2 {
    position: absolute;
    z-index: 5;
    left: 200px;
    top: 100px;
    width: 600px;
    height: 450px;
}

/* Popup upload video */
.pops{
    width: 400px;
}

.uploadbtn{
    float: right;
    width: 120px!important;
    margin-right: 25px!important;
    }

.popup{
    margin: 200px 0 0 300px;
    position: fixed;
    height: 50px;
    width: 600px;
    padding: 10px 50px 90px 50px;
    background-color: #fff;
    z-index: 10000000000;

    -webkit-box-shadow: 9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         9px 0px 23px 0px rgba(50, 50, 50, 0.3);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }


/* Getting started (first) */

.checkbtn{
    float: left;
    margin-left: 90px;
}

.getting-started{
    position: absolute!important;
    z-index: 499;
    width: 400px!important;
    margin-left: auto!important;
}



/* second screen that animates under edit menu */

.displayfirst{
    position: absolute!important;
    width: 420px!important;
    z-index: 500;
    margin-left: -500px;
}

.large-button{
  /* fallback */
  background-color: #44A682;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44A682), to(#3E9474));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #44A682, #3E9474);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #44A682, #3E9474);

  /* IE 10 */
  background: -ms-linear-gradient(top, #44A682, #3E9474);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #44A682, #3E9474);

    -webkit-box-shadow: 9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    9px 0px 23px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         9px 0px 23px 0px rgba(50, 50, 50, 0.3);

    width: 400px;
    margin-left: -15px;
    height: 120px;
    border: none;

    color: #fff;
    font-size: 1.4em;
    font-weight: 600;

}

.large-button:hover{
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44A682), to(#44A682));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #44A682, #44A682);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #44A682, #44A682);

  /* IE 10 */
  background: -ms-linear-gradient(top, #44A682, #44A682);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #44A682, #44A682);

}

.btn-group{
    margin-top: 62px;
}

.runbtn{
position: absolute!important;
z-index: 10000000;
right: 10px;
top: 235px;
    }

/* main screen and edit menu */

.xbtn{
    float: right;
    width: 25px;
    cursor: pointer;
}

.displaysecond{
    position: absolute!important;
    width: 480px!important;
    z-index: 501;
    background-color: #fff;
    margin-left: -500px;
}

.hidden2{
    margin-top: 3px;
    height: 5px;
    opacity: 0;
}

.tabs-1{
    border: #BDBFBF solid 1px;
    height: 500px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}


.pullLeft{
    margin-left: -40px;
    }

ul{
    list-style-type: none;
}

.btn-primary{
    font-weight: 600!important;
    height: 45px;
}

.activebtn{
}

.nav a{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
    font-size: 1.5em;
}

.small{
    font-size: 1.1em!important;
    }

.hidden{
    display: none;
}

#logo{
    color: #44A682;
}

.methods{
    margin-top: 35px;
}

#editor {
    margin: 0;
    position: absolute;
    top: 340px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    z-index: 3;
}

.buttons{
    margin: 200px auto;
    display: block;
    width: 100px;
    z-index: 100;
    position: relative;
}

.btn-method{
    background-color: #44A682;
    color: #fff;
    height: 40px;
    margin-right: 15px!important;
    }
.btn-method:hover{
    color: #fff!important;
    background-color: #2A7A5D;
}

.leftspace{
    margin-left: 25px!important;
    }

.btn{
    display: block;
    margin: 10px auto;
    width: 180px;
}

.overlay {
    margin-left: 400px;
    width: 67%!important;
    height: 800px;
    background: #81DBBA; /* Old browsers */
    background: -moz-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(15%,#81DBBA), color-stop(50%,#7D43A3), color-stop(80%,#81DBBA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(110deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* IE10+ */
    background: linear-gradient(155deg, #81DBBA 15%, #7D43A3 50%, #81DBBA 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81DBBA', endColorstr='#7D43A3',GradientType=0 ); /* IE6-9 */
    background-size: 100% 500%;
    background-position: 0% 0%;
    -webkit-animation-name: colorful;
    -webkit-animation-duration: 150s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#controls {
            display: inline-block;
            vertical-align: top;
        }

#controls input {
            width: 400px;
        }

canvas{
            vertical-align: bottom;     }

@-webkit-keyframes colorful {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% 500%;
    }
}

.blackbg{
    background: #000!important;
    opacity: 1;
    }

.clearHover{
    position: absolute;
    height: 800px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    top: 0;
    left: 0;
    z-index: 1;
}

.instruct-header{
    font-size: 1.4em;
    color: #44A682;
}

.instruct-body{
    font-size: 1.1em
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
